<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.changing.bg.mapper.oauth.CredentialMapper">

    <sql id="all_columns">
        a.id, a.enabled, a.name,a.password, a.version
    </sql>

    <select id="findByName" resultType="com.changing.bg.model.entity.oauth.Credentials">
        SELECT
        <include refid="all_columns"></include>
        FROM credentials a
        <where>
            <if test="name != null">
                AND a.name = #{name}
            </if>
        </where>
        ORDER BY a.create_time DESC
        LIMIT 1
    </select>

</mapper>